option_settings:
  - option_name: NODE_ENV
    value: development
  - option_name: JWT_SECRET
    value: oeVerySecretHash
  - option_name: PORT
    value: 4050
  - option_name: DB_USER
    value: oe_admin
  - option_name: DB_PASSWORD
    value: oe_password
  - option_name: DB_NAME
    value: oe_db_dev
  - option_name: DB_HOST
    value: localhost