---
# ---
# THIS IS A PLACEHOLDER FILE FOR EB
# DO NOT EVER PUT PRODUCTION CREDENTIALS IN THIS FILE!
# PRODUCTION CREDENTIALS ARE STORED DIRECTLY IN AWS EB ENV VARIABLES
option_settings:
  - option_name: NODE_ENV
    value: development
  - option_name: JWT_SECRET
    value: oeVerySecretHash
  - option_name: PORT
    value: 4050
  - option_name: DB_USER
    value: oe_admin
  - option_name: DB_PASSWORD
    value: oe_password
  - option_name: DB_NAME
    value: oe_db_dev
  - option_name: DB_HOST
    value: localhost
  - option_name: LOG_DEBUG
    value: false
  - option_name: LOG_TRACE
    value: false
  - option_name: LOG_DB_TRACE
    value: false
  - option_name: SEND_EMAILS
    value: example
  - option_name: SENDGRID_API_KEY
    value: example
  - option_name: SENDGRID_TEMPLATE_ID
    value: example
  - option_name: APP_ORIGIN
    value: example